# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

*.txt.user
*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile
*-build-*
build*

*crashes*
*hangs*
*queue*
*fuzzer0*
po/*
*.po
*.pot
enpo/*
